*
{
font-family: Blippo;
font-style : italic;
}

h1
{
color: #DEB887;
font-size: 75px;
text-shadow: 8px 0px 4px #000000;
}

h2, h3
{
text-align: center;
}

section
{
display: inline-block;
}

article
{
text-align: justify;
vertical-align: top;
display: inline-block;
width: 300px;
}

body
{
background-color: black;
background-image: url("fond.png");
background-repeat: no-repeat;
background-position: top center;
background-attachment:scroll; 
padding: 0px;
}

.middle
{
width: 3px;
height: 625px;
border-left: 1px solid black;
border-right: 1px solid black;
}

.Biere
{
width: 250px;
}
