*
{
font-family: Blippo;
}


h1
{
color: #DEB887;
font-size: 75px;
text-shadow: 8px 0px 4px #000000;
}



body
{
background-color: black;
background-image: url("fond.png");
background-repeat: no-repeat;
background-position: top center;
background-attachment:scroll; padding:0px;
}
